@model ChoreTracker.Models.GroupModels.GroupDetail

@{
    ViewBag.Title = @Html.DisplayFor(model => model.GroupName);
}

<h2>
    @Html.DisplayFor(model => model.GroupName)
</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupInviteKey)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.GroupOwner)
        </td>
        <td>
            @Html.DisplayFor(model => model.GroupInviteKey)
        </td>
        <td></td>
    </tr>
</table>
@if (ViewBag.GroupMembers != null)
{
    <table class="table">
        <tr></tr>
        <tr>
            <th>Group Members</th>
            <th>Earned Points</th>
            <th></th>
        </tr>
        @foreach (var gm in ViewBag.GroupMembers)
        {
            <tr>
                <td>@gm.UserName</td>
                <td>@gm.RewardPoints</td>
                <td></td>
            </tr>
        }
    </table>
}
@if (ViewBag.GroupApplicants != null && ViewBag.GroupApplicants.Count != 0)
{
    <table class="table">
        <tr></tr>
        <tr>
            <th>Applicants</th>
            <th>Earned Points</th>
            <th></th>
        </tr>
        @foreach (var gm in ViewBag.GroupApplicants)
        {
            <tr>
                <td>@gm.UserName</td>
                <td>@gm.RewardPoints</td>
                <td></td>
            </tr>
        }
    </table>
}
@if (ViewBag.Comments != null && ViewBag.Comments.Count != 0)
{
    <table>
        <tr>
            <th>
                Comments
            </th>
        </tr>
        @foreach (var c in ViewBag.Comments)
        {
            <tr>
                <td>
                    - @c.Content
                </td>
            </tr>
        }
    </table>
}

@Html.Partial("~/Views/Comment/_CommentCreate.cshtml", new ChoreTracker.Models.CommentModels.CommentCreate { ParentId = 1, GroupId = Model.GroupId })
