@using Microsoft.AspNet.Identity
@model ChoreTracker.WebMVC.DataContract.Group.GroupDetailDTO

@{
    ViewBag.Title = @Html.DisplayFor(model => model.GroupName);
}

<h2>
    @Html.DisplayFor(model => model.GroupName)
</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupInviteKey)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.GroupOwner)
        </td>
        <td>
            @Html.DisplayFor(model => model.GroupInviteKey)
        </td>
        <td></td>
    </tr>
</table>
@if (ViewBag.GroupMembers != null && ViewBag.GroupMembers.Count != 0)
{
    <table class="table">
        <tr></tr>
        <tr>
            <th>Group Members</th>
            <th>Earned Points</th>
            <th></th>
        </tr>
        @foreach (var gm in ViewBag.GroupMembers)
        {
            <tr>
                <td>@gm.UserName</td>
                <td>@gm.RewardPoints</td>
                <td></td>
            </tr>
        }
    </table>
}
@if (ViewBag.GroupApplicants != null && ViewBag.GroupApplicants.Count != 0)
{
    <table class="table">
        <tr></tr>
        <tr>
            <th>Applicants</th>
            <th>Earned Points</th>
            <th></th>
        </tr>
        @foreach (var gm in ViewBag.GroupApplicants)
        {
            <tr>
                <td>@gm.UserName</td>
                <td>@gm.RewardPoints</td>
                <td></td>
            </tr>
        }
    </table>
}
@if (ViewBag.Comments != null && ViewBag.Comments.Count != 0)
{
    <table class="comment-table">
        <tr>
            <th>
                Comments
            </th>
        </tr>
        @foreach (var c in ViewBag.Comments)
        {
            var comment = new ChoreTracker.Models.CommentModels.CommentListItem
            {
                Content = c.Content,
                CommentId = c.CommentId,
                ParentId = c.ParentId,
                Poster = c.Poster,
                OwnerId = c.OwnerId
            };

            <tr class="comment-row">
                <td class="comment-cell">
                    @Html.Partial("~/Views/Comment/_CommentDisplay.cshtml", comment)
                </td>
            </tr>
        }
    </table>
}

@Html.Partial("~/Views/Comment/_CommentCreate.cshtml", new ChoreTracker.Models.CommentModels.CommentCreate { ParentId = 1, GroupId = Model.GroupId })
