@using Microsoft.AspNet.Identity
@using ChoreTracker.Web.DataContract.Group
@model GroupDetailDTO

@{
    ViewBag.Title = @Html.DisplayFor(model => model.GroupName);
}

<h2>
    @Html.DisplayFor(model => model.GroupName)
</h2>

@if (TempData.ContainsKey("FailResult"))
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["FailResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupInviteKey)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.GroupOwner)
        </td>
        <td>
            @Html.DisplayFor(model => model.GroupInviteKey)

            @if (Model.IsMod)
            {
                @Html.ActionLink("Regenerate Invite Key", "EditInviteKey", new { groupId = Model.GroupId })
            }
        </td>
        <td>
            @Html.ActionLink("Rewards", "Index", "Reward", new { id = Model.GroupId }, null)
        </td>
    </tr>
</table>
@if (Model.GroupMembers != null && Model.GroupMembers.Count() != 0)
{
    <table class="table">
        <tr></tr>
        <tr>
            <th>Group Members</th>
            <th>Earned Points</th>
            <th>Is Mod</th>
            <th></th>
        </tr>
        @foreach (var gm in Model.GroupMembers)
        {
            <tr>
                <td>@gm.UserName</td>
                <td>@gm.RewardPoints</td>
                <td>@gm.IsMod</td>
                <td>
                    @if (!gm.IsOwner && Model.IsMod)
                    {
                        @Html.ActionLink("Kick", "KickMember", "Group", new { memberId = gm.MemberId, groupId = Model.GroupId }, null)
                    }
                    @if (Model.GroupOwnerId == Guid.Parse(User.Identity.GetUserId()) && !gm.IsOwner && !gm.IsMod)
                    {
                        @Html.ActionLink("Promote", "GrantMod", new GroupPromoteDTO { GroupId = Model.GroupId, GroupMemberId = gm.MemberId }, null)
                    }
                </td>
            </tr>
        }
    </table>
}
@if (Model.GroupApplicants != null && Model.GroupApplicants.Count() != 0)
{
    <table class="table">
        <tr></tr>
        <tr>
            <th>Applicants</th>
            <th>Earned Points</th>
            <th></th>
        </tr>
        @foreach (var gm in Model.GroupApplicants)
        {
            <tr>
                <td>@gm.UserName</td>
                <td>@gm.RewardPoints</td>
                <td>
                    @Html.ActionLink("Accept", "Acceptance", "Group", new GroupAcceptanceDTO { Accepted = true, GroupId = Model.GroupId, GroupMemberId = gm.MemberId }, null) |
                    @Html.ActionLink("Deny", "Acceptance", "Group", new GroupAcceptanceDTO { Accepted = true, GroupId = Model.GroupId, GroupMemberId = gm.MemberId }, null)
                </td>
            </tr>
        }
    </table>
}
@if (Model.Comments != null && Model.Comments.Count() != 0)
{
    <table class="comment-table">
        <tr>
            <th>
                Comments
            </th>
        </tr>
        @foreach (var c in Model.Comments)
        {
            var parentContent = c.Content;
            var comment = new ChoreTracker.Web.DataContract.Comment.CommentListItemDTO
            {
                Content = c.Content,
                CommentId = c.CommentId,
                ParentId = c.ParentId,
                Poster = c.Poster,
                OwnerId = c.OwnerId,
                GroupId = c.GroupId
            };

            <tr class="comment-row">
                <td class="comment-cell">
                    @Html.Partial("~/Views/Comment/_CommentDisplay.cshtml", comment, new ViewDataDictionary { { "parent", parentContent }, { "parentCommenter", c.Poster } })
                </td>
            </tr>
        }
    </table>
}

@Html.Partial("~/Views/Comment/_CommentCreate.cshtml", new ChoreTracker.Web.DataContract.Comment.CommentCreateDTO { GroupId = Model.GroupId })

<p>
    @Html.ActionLink("Leave Group", "Leave", new { id = Model.GroupId }, htmlAttributes: new { @class = "btn btn-primary menu-btn" })
</p>