
@model ChoreTracker.WebMVC.DataContract.Comment.CommentEditDTO

@{
    ViewBag.CommentModal = $"CommentEdit{Model.CommentId}";
    ViewBag.CommentBtn = $"CommentEditbtn{Model.CommentId}";
}

<div>
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <button id="@Html.Raw(ViewBag.CommentBtn)" type="button" class="btn btn-sm btn-default pull-left button button4">
                        Edit
                    </button>

                    <div class="modal fade" tabindex="-1" id="@Html.Raw(ViewBag.CommentModal)" data-keyboard="true" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Editing Comment</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("Edit", "Comment", new { id = Model.CommentId }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.CommentId)
                                        @Html.HiddenFor(model => model.GroupId)

                                        <p>
                                            Original comment: @Html.Raw(Model.Content)
                                        </p>
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="form-group">
                                            <div style="text-align: right;">
                                                <input type="submit" value="Confirm Edit" class="btn btn-default" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(@Html.Raw(ViewBag.CommentBtn)).click(function () {
            $(@Html.Raw(ViewBag.CommentModal)).modal('show');
        });
    });
</script>