@model ChoreTracker.WebMVC.DataContract.Comment.CommentCreateDTO

@{
    ViewBag.CommentModal = $"Comment{Model.ParentId}";
    ViewBag.CommentBtn = $"Commentbtn{Model.ParentId}";
    var parentContent = ViewData["parentContent"];
    var parentCommenter = ViewData["parentCommenter"];
}

<div>
    <fieldset>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <button id="@Html.Raw(ViewBag.CommentBtn)" type="button" class="btn btn-sm btn-default pull-left button button4">
                        Reply
                    </button>

                    <div class="modal fade" tabindex="-1" id="@Html.Raw(ViewBag.CommentModal)" data-keyboard="true" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Replying to @Html.Raw(parentCommenter)</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                        ×
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.HiddenFor(model => model.GroupId)
                                        @Html.HiddenFor(model => model.ParentId)

                                        <p>
                                            @Html.Raw(parentCommenter) said: @Html.Raw(parentContent)
                                        </p>
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                                        </div>
                                        <div class="form-group">
                                            <div style="text-align: right;">
                                                <input type="submit" value="Reply" class="btn btn-default"/>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $(@Html.Raw(ViewBag.CommentBtn)).click(function () {
            $(@Html.Raw(ViewBag.CommentModal)).modal('show');
        });
    });
</script>