@using Microsoft.AspNet.Identity
@model ChoreTracker.Models.CommentModels.CommentListItem

<div class="user-comment">
    <h6 class="comment-poster">
        @Model.Poster:
    </h6>
    @Html.DisplayFor(Model => Model.Content)
</div>
<div class="comment-option">
    @if (Model.OwnerId == Guid.Parse(User.Identity.GetUserId()))
    {
        @Html.ActionLink("Delete", "Delete", "Comment", new { id = Model.CommentId }, new { @class = "comment-button" })
        @Html.ActionLink("Edit", "Edit", "Comment", new { id = Model.CommentId }, new { @class = "comment-button" })
    }
    @Html.ActionLink("Reply", "Edit", "Comment", new { id = Model.CommentId }, new { @class = "comment-button" })
</div>
