@model IEnumerable<ChoreTracker.Web.DataContract.Reward.RewardListItemDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.GroupId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RewardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RewardDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RewardCost)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RewardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RewardDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RewardCost)
            </td>
            <td>
                @{
                    var reward = new ChoreTracker.Web.DataContract.Reward.RewardClaimDTO
                    {
                        GroupId = ViewBag.GroupId,
                        RewardId = item.RewardId,
                        RewardName = item.RewardName,
                        RewardDescription = item.RewardDescription,
                        RewardCost = item.RewardCost
                    };
                }
                <div class="comment-button">
                    @Html.Partial("~/Views/Reward/_RewardClaim.cshtml", reward)
                </div>
            </td>
            @if (User.IsInRole("GroupOwner"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RewardId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RewardId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RewardId })
                </td>
            }
        </tr>
    }

</table>

@Html.ActionLink("Return to Group", "Index", "Group", new { id = ViewBag.GroupId }, null)